
@import "header";
@import "nav";
@import "mainHeaderWrapper";
@import "title";
@import "name";
@import "aboutMe";
@import "work";

html, body {
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0; }
