.headerBG {
  background: url("../images/BG.jpg");
  background-size: 100% 100%;
  width: 100%;
  height: 60%;
  position: absolute; }

nav {
  float: right;
  width: 30%;
  z-index: 1000; }
  nav ul li {
    list-style-type: none;
    display: inline;
    padding: 4%;
    position: relative; }
    nav ul li a {
      text-decoration: none;
      color: salmon;
      font-size: 3vh;
      font-family: overlock; }

#mainHeaderWrapper {
  position: absolute;
  width: 100%;
  height: 60%; }

.title {
  position: relative;
  margin: auto;
  margin-top: 10%;
  padding: 1% 1%;
  width: 36%;
  height: 20%;
  z-index: 999;
  text-align: center; }

.layer1 {
  max-width: 100%;
  height: 9vh; }

.layer2 {
  max-width: 100%;
  height: 10vh; }

.name {
  width: 90%;
  border: solid rebeccapurple 3px; }

#sectionAbout {
  width: 100%;
  height: 62%;
  text-align: center;
  position: absolute;
  top: 60%; }
  #sectionAbout h1 {
    color: brown;
    font-family: overlock;
    font-size: 3vw;
    padding-top: 3%; }

#aboutHeader {
  height: 60%; }
  #aboutHeader #selfieWrapper {
    height: 65%;
    width: 15%;
    border-radius: 50%;
    margin: auto; }
    #aboutHeader #selfieWrapper img {
      margin-top: 5%;
      height: 100%;
      width: 100%;
      border-radius: 50%; }

#curling {
  position: absolute;
  height: 20%;
  width: 7%;
  border-radius: 50%;
  background-color: brown;
  text-align: center;
  font-size: 100%;
  margin: 5%; }
  #curling h1 {
    color: antiquewhite;
    font-size: 1.6vw;
    padding-top: 28%;
    margin: auto; }

#javascript {
  position: absolute;
  height: 20%;
  width: 7%;
  border-radius: 50%;
  background-color: brown;
  text-align: center;
  font-size: 100%;
  left: 10%;
  margin: 5% 0 0 13%; }
  #javascript h1 {
    color: antiquewhite;
    font-size: 1.6vw;
    padding-top: 12%; }

#web {
  position: absolute;
  height: 20%;
  width: 7%;
  border-radius: 50%;
  background-color: brown;
  text-align: center;
  font-size: 100%;
  left: 56%;
  margin: 5% 0 0 13%; }
  #web h1 {
    color: antiquewhite;
    font-size: 1.6vw;
    padding-top: 12%; }

#fishing {
  position: absolute;
  height: 20%;
  width: 7%;
  border-radius: 50%;
  background-color: brown;
  text-align: center;
  font-size: 100%;
  left: 74%;
  margin: 5% 0 0 13%; }
  #fishing h1 {
    color: antiquewhite;
    font-size: 1.6vw;
    padding-top: 12%; }

#aboutContent {
  width: 35%;
  height: 100%;
  margin: auto;
  margin-left: 5%;
  font-size: 1.2em;
  float: left;
  overflow-x: auto;
  overflow-y: auto; }

#p1 {
  text-align: left; }

#p2 {
  text-align: left; }

#p3 {
  text-align: left; }

#p4 {
  text-align: left; }

#chart {
  position: absolute;
  width: 50%;
  height: 76%;
  left: 48%;
  bottom: -70%; }
  #chart h1 {
    padding-top: 0;
    font-size: 2em; }

#sectionWork {
  width: 100%;
  height: 65%;
  text-align: center;
  position: absolute;
  top: 170%;
  margin-top: 10%;
  background-color: antiquewhite; }
  #sectionWork h1 {
    color: brown;
    font-family: overlock;
    font-size: 3vw; }

.thumb-container {
  max-width: 1000px;
  margin: 0px auto;
  padding-bottom: 100px; }

.thumb-unit {
  display: block;
  width: 25%;
  float: left;
  position: relative;
  padding-top: 20%;
  overflow: hidden;
  perspective: 300px; }

strong {
  display: block;
  padding: 28px 23px 23px 23px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 1vw; }

.clearfix {
  overflow: auto; }

.zoom {
  color: white; }

.thumb-overlay {
  position: absolute;
  top: 0%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  background-color: #8a6d3b;
  opacity: .9;
  transition: all .4s ease;
  transform: rotateX(90deg); }

.thumb-unit:hover .thumb-overlay {
  position: absolute;
  top: 0%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  transform: rotateX(0deg); }

.knabbaBG {
  background: url("../images/knabba/KnabbaMainScreen2PNG.PNG") no-repeat center center;
  background-size: cover; }

.brewBG {
  background: url("../images/brew/brewMain.JPG") no-repeat center center;
  background-size: cover; }

.carischBG {
  background: url("../images/carisch/AppController1.PNG") no-repeat center center;
  background-size: cover; }

.parallaxBG {
  background: url("../images/parallax/parallaxMain.PNG") no-repeat center center;
  background-size: cover; }

.folioBG {
  background: url("../images/folio/folioHome.PNG") no-repeat center center;
  background-size: cover; }

.archBG {
  background: url("../images/arch/archStakeholders.PNG") no-repeat center center;
  background-size: cover; }

.more {
  font-size: 2.5vh;
  color: brown;
  font-family: overlock; }

#sectionContact {
  height: 80%;
  width: 100%;
  position: absolute;
  top: 255%;
  text-align: center; }
  #sectionContact #contactHeader {
    color: brown;
    font-size: 3vw;
    font-family: overlock; }
  #sectionContact #contactContentArea {
    width: 60%;
    height: 60%;
    position: absolute;
    background-color: antiquewhite;
    left: 20%; }
    #sectionContact #contactContentArea #addressWrapper {
      position: absolute;
      padding-top: 15%;
      left: 15%; }
      #sectionContact #contactContentArea #addressWrapper #address {
        color: brown; }
    #sectionContact #contactContentArea #emailWrapper {
      padding-top: 15%; }
      #sectionContact #contactContentArea #emailWrapper #email {
        color: brown; }
    #sectionContact #contactContentArea #phoneWrapper {
      position: relative;
      left: 26%;
      bottom: 24%;
      height: 10%; }
      #sectionContact #contactContentArea #phoneWrapper #phone {
        color: brown; }

p {
  color: brown;
  font-size: 2.5vh; }

#footer {
  position: absolute;
  top: 340%;
  width: 100%;
  height: 17%;
  background: url("../images/BG.jpg") no-repeat center center;
  background-size: 100% 100%; }

#nameFooterSVG {
  padding: 20px 10px 10px 10px; }

#footerLinks {
  width: 30%;
  float: right;
  position: relative;
  margin-top: 3.5%; }
  #footerLinks ul li {
    list-style-type: none;
    display: inline;
    padding: 4%;
    position: relative; }
    #footerLinks ul li a {
      text-decoration: none;
      color: salmon;
      font-size: 3vh;
      font-family: overlock; }

html, body {
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0; }
