.headerBG {
  background: url("../images/BG.jpg");
  background-size: 100% 100%;
  width: 100%;
  height: 60%;
  position: absolute; }

nav {
  float: right;
  width: 30%;
  z-index: 1000; }
  nav ul li {
    list-style-type: none;
    display: inline;
    padding: 4%;
    position: relative; }
    nav ul li a {
      text-decoration: none;
      color: salmon;
      font-size: 3vh;
      font-family: overlock; }

#mainHeaderWrapper {
  position: absolute;
  width: 100%;
  height: 60%; }

.title {
  position: relative;
  margin: auto;
  margin-top: 10%;
  padding: 1% 1%;
  width: 36%;
  height: 20%;
  z-index: 999;
  text-align: center; }

.layer1 {
  max-width: 100%;
  height: 9vh; }

.layer2 {
  max-width: 100%;
  height: 10vh; }

.name {
  width: 90%;
  border: solid rebeccapurple 3px; }

#sectionAbout {
  width: 100%;
  height: 62%;
  text-align: center;
  position: absolute;
  top: 60%; }
  #sectionAbout h1 {
    color: brown;
    font-family: overlock;
    font-size: 3vw;
    padding-top: 3%; }

#aboutHeader {
  height: 60%; }
  #aboutHeader #selfieWrapper {
    height: 65%;
    width: 15%;
    border-radius: 50%;
    margin: auto; }
    #aboutHeader #selfieWrapper img {
      margin-top: 5%;
      height: 100%;
      width: 100%;
      border-radius: 50%; }

#curling {
  position: absolute;
  height: 20%;
  width: 7%;
  border-radius: 50%;
  background-color: brown;
  text-align: center;
  font-size: 100%;
  margin: 5%; }
  #curling h1 {
    color: antiquewhite;
    font-size: 1.6vw;
    padding-top: 28%;
    margin: auto; }

#javascript {
  position: absolute;
  height: 20%;
  width: 7%;
  border-radius: 50%;
  background-color: brown;
  text-align: center;
  font-size: 100%;
  left: 10%;
  margin: 5% 0 0 13%; }
  #javascript h1 {
    color: antiquewhite;
    font-size: 1.6vw;
    padding-top: 12%; }

#web {
  position: absolute;
  height: 20%;
  width: 7%;
  border-radius: 50%;
  background-color: brown;
  text-align: center;
  font-size: 100%;
  left: 56%;
  margin: 5% 0 0 13%; }
  #web h1 {
    color: antiquewhite;
    font-size: 1.6vw;
    padding-top: 12%; }

#fishing {
  position: absolute;
  height: 20%;
  width: 7%;
  border-radius: 50%;
  background-color: brown;
  text-align: center;
  font-size: 100%;
  left: 74%;
  margin: 5% 0 0 13%; }
  #fishing h1 {
    color: antiquewhite;
    font-size: 1.6vw;
    padding-top: 12%; }

#aboutContent {
  width: 35%;
  height: 100%;
  margin: auto;
  margin-left: 5%;
  font-size: 1.2em;
  float: left;
  overflow-x: auto;
  overflow-y: auto; }

#p1 {
  text-align: left; }

#p2 {
  text-align: left; }

#p3 {
  text-align: left; }

#p4 {
  text-align: left; }

#chart {
  position: absolute;
  width: 50%;
  height: 76%;
  left: 48%;
  bottom: -70%; }
  #chart h1 {
    padding-top: 0;
    font-size: 2em; }

#sectionWork {
  width: 100%;
  height: 65%;
  text-align: center;
  position: absolute;
  top: 170%;
  margin-top: 10%;
  background-color: antiquewhite; }
  #sectionWork h1 {
    color: brown;
    font-family: overlock;
    font-size: 3vw; }

#projectsWrapper {
  height: 50%;
  width: 100%;
  margin-top: 8%; }
  #projectsWrapper #knabba {
    position: absolute;
    height: 35%;
    width: 12%;
    border-radius: 50%;
    margin: 3% 0 0 5%;
    background: url("../images/knabba/KnabbaMainScreen.PNG") no-repeat center center;
    background-size: cover; }

#carisch {
  position: absolute;
  left: 15%;
  height: 35%;
  width: 12%;
  border-radius: 50%;
  margin: 3% 0 0 5%; }
  #carisch #carischBG {
    height: 100%;
    width: 100%;
    border-radius: 50%; }

#brew {
  position: absolute;
  left: 30%;
  height: 35%;
  width: 12%;
  border-radius: 50%;
  margin: 3% 0 0 5%; }
  #brew #brewBG {
    height: 100%;
    width: 100%;
    border-radius: 50%; }

#parallax {
  position: absolute;
  left: 45%;
  height: 35%;
  width: 12%;
  border-radius: 50%;
  margin: 3% 0 0 5%; }
  #parallax #parallaxBG {
    height: 100%;
    width: 100%;
    border-radius: 50%; }

#angular {
  position: absolute;
  left: 60%;
  height: 35%;
  width: 12%;
  border-radius: 50%;
  margin: 3% 0 0 5%; }
  #angular #angularBG {
    height: 100%;
    width: 100%;
    border-radius: 50%; }

#more {
  position: absolute;
  left: 75%;
  height: 35%;
  width: 12%;
  border-radius: 50%;
  margin: 3% 0 0 5%;
  background: gainsboro; }
  #more #moreBG {
    font-size: 3vh;
    padding-top: 21%;
    color: brown; }

.thumb-overlay {
  position: absolute, 100% 0px null 0px;
  background: orange;
  opacity: .8;
  height: 100%;
  width: 100%;
  border-radius: 50%; }

#sectionContact {
  height: 80%;
  width: 100%;
  position: absolute;
  top: 255%;
  text-align: center; }
  #sectionContact #contactHeader {
    color: brown;
    font-size: 3vw;
    font-family: overlock; }
  #sectionContact #contactContentArea {
    width: 60%;
    height: 60%;
    position: absolute;
    background-color: antiquewhite;
    left: 20%; }
    #sectionContact #contactContentArea #addressWrapper {
      position: absolute;
      padding-top: 15%;
      left: 15%; }
      #sectionContact #contactContentArea #addressWrapper #address {
        color: brown; }
    #sectionContact #contactContentArea #emailWrapper {
      padding-top: 15%; }
      #sectionContact #contactContentArea #emailWrapper #email {
        color: brown; }
    #sectionContact #contactContentArea #phoneWrapper {
      position: relative;
      left: 27%;
      bottom: 24%;
      height: 10%; }
      #sectionContact #contactContentArea #phoneWrapper #phone {
        color: brown; }

p {
  color: brown;
  font-size: 2.5vh; }

html, body {
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0; }
